{% extends "base.html" %}
{% block head_css %}
{{super()}}
<link href="static/libs/morris.js/morris.css" rel="stylesheet">
    <link href="static/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
        <div class="main">
          <div class="main__scroll scrollbar-macosx">
            <div class="main__cont">
              <div class="container-fluid half-padding">
                <div class="pages pages_dashboard">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="panel panel-danger">
                        <div class="panel-heading">
                          <h3 class="panel-title">User 30 Day Statistics</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12 text-center">
                                <div id="line-chart"></div>
                            </div>
                    </div>
                    </div>
                    </div>
                        <div class="col-md-3">
                      <div class="panel panel-success">
                        <div class="panel-heading">
                          <h3 class="panel-title">Todays Activities</h3>
                        </div>
                        <div class="panel-body">
                          <div class="ov-widget">
                            <div class="ov-widget__list">
                              <div class="ov-widget__item ov-widget__item_dec">
                                  <div class="ov-widget__value">{{cleaningcount}}</div>
                                <div class="ov-widget__info">
                                  <div class="ov-widget__title">Cleaning Activities Remaining</div>
                                </div>
                              </div>
                              <div class="ov-widget__item ov-widget__item_inc">
                                  <div class="ov-widget__value">{{pestcount}}</div>
                                <div class="ov-widget__info">
                                  <div class="ov-widget__title">Pest Activities Remaining</div>
                                </div>
                              </div>
                              <div class="ov-widget__item ov-widget__item_warn">
                                  {%if suppliers == None%}
                                  <div class="ov-widget__value">None</div>
                                  {% else %}
                                  {% for s in suppliers %}
                                  <div class="ov-widget__value">{{s}}</div>
                                  {%endfor%}
                                  {% endif %}
                                <div class="ov-widget__info">
                                  <div class="ov-widget__title">Deliveries Received</div>
                                </div>
                              </div>
                              <br>
                            </div>
                            <div class="col-md-12">
                    <a class="twitter-timeline" href="https://twitter.com/search?q=food%20hygiene" data-widget-id="709479729959665664">Tweets about food hygiene</a>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                  
                  
    {% endblock %}
    {% block tail_js %}
    {{ super() }}
    
    <script src="static/libs/jquery/jquery.min.js"></script>
    <script src="static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/libs/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="static/libs/bootstrap-tabdrop/bootstrap-tabdrop.min.js"></script>
    <script src="static/libs/sparkline/jquery.sparkline.min.js"></script>
    <script src="static/libs/ionrangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="static/libs/inputNumber/js/inputNumber.js"></script>
    <script src="static/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script src="static/libs/raphael/raphael-min.js"></script>
    <script src="static/libs/morris.js/morris.min.js"></script>
    <script src="static/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="static/js/template/index.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/demo.js"></script>
    <script>
$(function(){
     var chart = Morris.Bar({
         element: 'line-chart',
         data: [0,0],
         xkey: 'stat',
         ykeys: ['value', 'aim'],
         labels: ['Actual', 'Aim'],
         fillOpacity: 0.6,
         resize: true,
         barColors:['red', "green"]
        });
        $.ajax({
           type: "GET",
           dataType: 'json',
           url: "/home/charts"
           })
        .done(function(data){
            chart.setData(data);
            })
        .fail(function(){
            alert("error occured");
        });
});
     </script>
     <script>
        !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){
            js=d.createElement(s);js.id=id;
            js.src=p+"://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
        }
        }
        (document,"script","twitter-wjs");
     </script>
    
    {% endblock %}

