{% block navbar %}
    <li>
        <a href="/home"><i class="fa fa-dashboard fa-fw"></i> Home</a>
    </li>
    <li>
        <a href="/food"><i class="fa fa-dashboard fa-fw"></i> Food</a>
    </li>
    <li>
        <a href="/devices"><i class="fa fa-bar-chart-o fa-fw"></i> Devices<span class="fa arrow"></span></a>
        {% if gw_sessions %}
            <ul class="nav nav-second-level">
            {% for s in gw_sessions %}
                <li>
                <a href="/gws/{{ s }}">{{ s }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="/sanitation"><i class="fa fa-bar-chart-o fa-fw"></i> Sanitation<span class="fa arrow"></span></a>
        {% if me_sessions %}
            <ul class="nav nav-second-level">
            {% for s in me_sessions %}
                <li>
                <a href="/mes/{{ s }}">{{ s }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="/inspection"><i class="fa fa-dashboard fa-fw"></i>EHO Inspection</a>
    </li>
    <li>
        <a href="/manager"><i class="fa fa-dashboard fa-fw"></i>Manager</a>
    </li>
{% endblock %}
